%nav.navbar{"aria-label" => "main navigation", role: "navigation", "data-controller" => "navbar" }
  .navbar-brand.has-background-primary-light
    %a.navbar-item{href: root_path}
      %strong Climb buddy
    %a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", role: "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      %a.navbar-item{href: root_path}
        Home
    .navbar-end
      .navbar-item
        - if user_signed_in?
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link
              = current_user.email
            .navbar-dropdown
              = link_to edit_user_registration_path, class: 'navbar-item' do
                Account
              %hr.navbar-divider/
              = link_to destroy_user_session_path, data: { "turbo-method": :delete } , class: 'navbar-item' do
                %strong Sign out
        - else
          .buttons
            %a.button.is-primary{href: new_user_registration_path}
              %strong Sign up
            %a.button.is-light{href: new_user_session_path}
              Log in
