.section
  .container
    .columns.is-centered
      .column.is-half
        - if notice.present?
          %p.notice.notification.is-primary= notice
        - if alert.present?
          %p.alert.notification.is-danger= alert