- if notice.present?
  .notification.is-success.is-light
    %button.delete{"data-controller" => "notifications"}
    = notice
- if alert.present?
  .notification.is-danger.is-light
    %button.delete{"data-controller" => "notifications"}
    = alert
